<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  </head>
  <body>
  <table>
    <tbody>
  <tr> <td><label>姓</label></td> <td><p><%= FirstName %></p></td></tr>
  <tr> <td><label>名</label></td> <td><p><%= LastName %></p></td></tr>
  <tr> <td><label>角色</label></td> <td><p><%= type %></p></td></tr>
  <tr> <td><label>出生年月</label></td> <td><p><%= DateOfBirth %></p></td></tr>
  <tr> <td><label>性别</label></td> <td><p><%= gender %></p></td></tr>
  <tr> <td><label>电子邮箱</label></td> <td><p><%= email %></p></td></tr>
  <tr> <td><label>电话</label></td> <td><p><%= phone %></p></td></tr>
  <tr> <td><label>国籍</label></td> <td><p><%= nationality %></p></td></tr>
  <tr> <td><label>地址</label></td> <td><p><%= address %></p></td></tr>
  <tr> <td><label>级别</label></td> <td><p><%= Level %></p></td></tr>
  <tr> <td><label>推荐码</label></td> <td><p><%= ReferralCode %></p></td></tr>
  <tr> <td><label>证书</label></td> <td><p><%= CertificatePath %></p></td></tr>
  <tr> <td><label>ID</label></td> <td><p><%= IDPath %></p></td></tr>
  <tr> <td><label>银行名称</label></td> <td><p><%= BankName %></p></td></tr>
  <tr> <td><label>BSB</label></td> <td><p><%= BSB %></p></td></tr>
  <tr> <td><label>账户名称</label></td> <td><p><%= AccountName %></p></td></tr>
  <tr> <td><label>账号</label></td> <td><p><%= AccountNumber %></p></td></tr>
  <tr> <td><label>ABN</label></td> <td><p><%= ABN %></p></td></tr>

    </tbody>
  </table>
  </body>
</html>
